$orange: #f56d23;
$dark-blue: #070039;

$animation-speed: 0.35s;

.menu-container {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .menu-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    transform: translateX(-100%);
    background-color: $dark-blue;
    transition: transform $animation-speed ease-in-out;

    &.toggle {
      transform: translateX(0)
    }
  }

  .menu-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    transform: translateX(100%);
    background-color: $orange;
    transition: transform $animation-speed ease-in-out;

    &.toggle {
      transform: translateX(0)
    }

    .menu {

      .menu-item {
        cursor: pointer;
      }
    }

  }
}