$orange: #f56d23;
$dark-blue: #070039;
$gray: #2c2f32;
$sans: 'Open Sans', sans-serif;
$sans-condensed: 'Open Sans Condensed', sans-serif;

.menu-container {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .menu-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    max-width: calc(100% - 701px);
    height: 100vh;
    will-change: transform;
    background-color: $dark-blue;
    z-index: 102;
    display: flex;
    justify-content: flex-end;

    .particles-container {
      width: 90%;
      height: 100%;
    }
  }

  .menu-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    min-width: 700px;
    height: 100vh;
    background-color: white;
    will-change: transform;

    ul.menu {
      position: relative;
      top: 50%;
      left: 64px;
      transform: translateY(-50%);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li.menu-item {
        cursor: pointer;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 16px;
        transition: color 0.35s;
        position: relative;
        // color: white;

        .underline {
          position: absolute;
          height: 1px;
          width: 100%;
          bottom: -3px;
          left: 0;
          background-color: $orange;
          will-change: transform;
          transform: scale(0,1);
          transform-origin: left;
          transition: transform 0.35s ease-out;
        }

        &:hover {
          color: $orange;

          & .underline {
            transform: scale(1,1);
          }

        }
      }
    }

  }
}