$animation-speed: 0.3s;
$icon-size-big: 40px;
$icon-size-small: 30px;
$space-between-bars-big: 12px;
$space-between-bars-small: 10px;
$orange: #f56d23;
$dark-blue: #070039;

.mobile-menu-icon {
  transition: transform $animation-speed;
  width: $icon-size-big;
  height: $icon-size-big;
  margin: 0 auto;
  position: relative;
  cursor: pointer;

  
  .hamburger {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    display: block;
    transform-origin: center;
    transition: transform $animation-speed ease-in-out, color 1s;
    will-change: transform;

    &:after, &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      transition: transform $animation-speed ease-in-out, color 1s;
      will-change: transform;
    }

    &:after {
      transform: translateY(-$space-between-bars-big)
    }

    &:before {
      transform: translateY($space-between-bars-big)
    }

    &.blue {
      background-color: $dark-blue;

      &:after, &:before {
        background-color: $dark-blue;
      }
    }

    &.orange {
      background-color: $orange;

      &:after, &:before {
        background-color: $orange;
      }
    }

    &.white {
      background-color: white;

      &:after, &:before {
        background-color: white;
      }
    }
  }

  &.open {

    .hamburger {
      transform: rotate(45deg);
  
      &:after, &:before {
        transform: translateY(0) rotate(90deg);
      }
    }
  }

  @media screen and (max-width: 1070px) {
    width: $icon-size-small;
    height: $icon-size-small;

    .hamburger:before {
      transform: translateY(-$space-between-bars-small)
    } 
    
    .hamburger::after {
      transform: translateY($space-between-bars-small)
    }
  }
}