.contact-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 64px;

  .particles-container {
    width: 15%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 15%;
    z-index: 0;
  }

  .form-container {
    max-width: 1100px;
    width: 50%;
    position: relative;
    z-index: 10;
  }

  @media screen and (max-width: 1200px) {

    .particles-container {
      width: 180px;
    }

    .form-container {
      max-width: 600px;
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 32px;
  }
}