$orange: #f56d23;
$dark-blue: #070039;
$sans: 'Open Sans', sans-serif;
$sans-condensed: 'Open Sans Condensed', sans-serif;

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  background-color: white;

  .banner-video {
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    position: fixed;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.35s ease-out;
    pointer-events: none;

    #header-video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &.hide {
      opacity: 0;
    }
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    overflow: hidden;

    h1.title {
      font-family: $sans;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 16px;
      color: white;
      will-change: color;
      transition: color 0.35s;

      &.hide {
        color: $dark-blue;
      }
    }

    h2.slogan {
      font-family: $sans;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 30px;
      line-height: 48px;
      color: $orange;
    }

    @media screen and (max-width: 1600px) {

      h1.title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 12px;
      }

      h2.slogan {
        font-size: 24px;
        line-height: 24px;
      }
    }

    @media screen and (max-width: 1200px) {

      h1.title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      h2.slogan {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  @media screen and (max-width: 870px) {
    padding: 0;

    .banner-text {
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 0 16px;
      
      h1.title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 8px;
      }

      h2.slogan {
        font-size: 16px;
        line-height: 16px;
      }

    }
  }

  @media screen and (max-width: 500px) {

    .banner-text {
      top: 20%;
      left: 10%;
      transform: translate(0);
      text-align: left;
      padding: 0 32px;
      width: 300px;
      
      h1.title {
        letter-spacing: 0;
      }

      h2.slogan {
        letter-spacing: 0;
      }

    }
  }
}